# Byte‑compiled / cache
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints
.jupyter/

# Virtual env
.env/
.venv/
venv/

# Data files
data/
*.csv
*.parquet

# Studio
.ipynb_checkpoints/
.bst
.tar.gz
